{{ ansible_managed | comment }}
Alias /owncloud "{{ owncloud_configuration[ansible_distribution]['destination'] }}/owncloud"

<Directory {{ owncloud_configuration[ansible_distribution]['destination'] }}/owncloud/>
  Options +FollowSymlinks
  AllowOverride All

 <IfModule mod_dav.c>
  Dav off
 </IfModule>

SetEnv HOME {{ owncloud_configuration[ansible_distribution]['destination'] }}/owncloud
SetEnv HTTP_HOME {{ owncloud_configuration[ansible_distribution]['destination'] }}/owncloud

</Directory>
